<div class="container">
  <mat-spinner *ngIf="isLoading" class="pd-4" color="accent"></mat-spinner>
  <mat-card *ngIf="!isLoading" class="mt-4">
    <div class="box">
      <div *ngIf="error" class="alert alert-danger" role="alert">
        Konto o tej nazwie lub e-mailu już istnieje. Zaloguj się albo wprowadź
        inne dane.
      </div>
      <div *ngIf="info" class="alert alert-success" role="alert">
        Twoje konto zostało stworzone. Kod aktywacyjny został wysłany na e-mail
        podany przy rejestracji.
      </div>
      <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <div class="flexbox-parent">
          <div layout="row" layout-align="center center">
            <mat-form-field appearance="outline">
              <mat-label>Nazwa użytkownika</mat-label>
              <input
                matInput
                name="username"
                ngModel
                type="text"
                #userInput="ngModel"
                required
                minlength="3"
                maxlength="12"
              />
              <mat-error *ngIf="userInput.invalid"
                >Nazwa użytkownika powinna mieć co najmniej 3 znaki.</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Adres E-mail</mat-label>
              <input
                matInput
                name="email"
                ngModel
                type="email"
                #emailInput="ngModel"
                required
                email
              />
              <mat-error *ngIf="emailInput.invalid"
                >Wprowadź prawidłowy adres e-mail.</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Hasło</mat-label>
              <input
                type="password"
                name="password"
                ngModel
                #passwordInput="ngModel"
                [(ngModel)]="password"
                matInput
                required
                minlength="6"
                (ngModelChange)="resetMatch()"
              />
              <mat-error *ngIf="passwordInput.invalid"
                >Hasło musi składać się z co najmniej 6 znaków.</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Potwierdź hasło</mat-label>
              <input
                type="password"
                name="passwordConfirm"
                ngModel
                #passwordConfirmInput="ngModel"
                [(ngModel)]="passwordConfirm"
                matInput
                required
                minlength="6"
                (ngModelChange)="resetMatch()"
              />
              <mat-error *ngIf="passwordConfirmInput.invalid"
                >Hasło musi składać się z co najmniej 6 znaków.</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <mat-error *ngIf="!passwordMatch" class="mb-1"
          >Hasła nie są takie same!</mat-error
        >

        <button mat-raised-button color="accent" type="submit">
          Signup
        </button>
      </form>
    </div>
  </mat-card>
</div>
