<mat-toolbar color="primary">
  <span><a mat-button class="toolbar toolbar-name" (click)="onHomeClick()"><img class="toolbar-image" src="./../../../assets/MelangeWhite.png" alt="Melange"></a></span>
  <span class="spacer"></span>
      <a mat-button class="toolbar toolbar-links" *ngIf="!isAuthenticated" routerLink="/signup">Rejestracja</a>
      <a mat-button class="toolbar toolbar-links" *ngIf="!isAuthenticated"   routerLink="/login">Zaloguj</a>
      <a mat-button class="toolbar toolbar-links" *ngIf="isAuthenticated" (click)="onLogout()">Wyloguj</a>
</mat-toolbar>
