.melange-overview {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;

  &-name {
    font-size: 1.6rem;
    letter-spacing: 0.35px;
    font-style: bold;
  }

  &-invite {
    font-size: 1.5rem;
    font-style: bold;
    letter-spacing: 0.2rem;
    // color: #3f51b5;
    color: #ff4081;
  }
  &-button-container {
    text-align: center;
    margin-bottom: 1rem;
  }
  &-sortBy {
    display: flex;
    justify-content: space-between;
  }
}

.melange_product {
  margin-top: 1rem;

  &-container {
    display:flex;
    justify-content: space-between;
  }

  &-name {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    display: inline-block;
    animation: moveInLeft 1s ease-out;
  }

  // &-users-row {
  //   display:flex;
  //   justify-content: space-between;

  // }
  // &-spacer{
  //   flex: 1 1 auto;
  // }

  &-username {
    margin-right: 0.5rem;
  }
  &-balance {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }

  &-paidBy {
    &-name {
      font-size: 1.2rem;
      // text-transform: uppercase;
      letter-spacing: 0.05rem;
      margin-left: 0.2rem;
      color: #3f51b5;
    }
    &-title {
      font-size: 1rem;
      letter-spacing: 0.02rem;
    }
  }

  &-price {
    font-size: 1.1rem;
    color: #3f51b5;
    font-style: bold;
  }

  &-myCost {
    font-size: 1rem;
    letter-spacing: 0.02rem;
  }
  &-button-delete{
    margin-top: 1rem;
  }
}

.summary {
  &-user {
    margin-bottom: 1rem;
  }
  &-user-name {
    text-align: center;
    color: #3f51b5;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 1rem;
  }

  &-user-cost {
    display: flex;
    justify-content: space-between;
    margin: 0 2.3rem;
    font-size: 1rem;
    &-number {
      font-size: 1.2rem;
      width: 80px;
      text-align: center;
      margin: 1rem 2rem 3rem 1.5rem;
    }
  }
  &-income {
    color: #41b028;
  }
  &-expense {
    color: #b03828;
  }

  &-user-totalcost {
    text-align: center;
  }
}



@media (max-width: 600px) {
  .melange-overview {
    margin: 0 2rem;
    &-button {
      bottom: 1rem;
      left: 45vw;
      text-align: center;
      z-index: 2000;
      position: fixed;
    }
    &-sortBy {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .summary-user-cost {
    margin: 0 0.5rem;

    &-number {
      margin: 1rem 0.3rem 2rem 0.3rem;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
