<mat-spinner *ngIf="isLoading" class="pd-4" color="accent"></mat-spinner>
<div *ngIf="!isLoading" class="container">
  <div  class="melange-overview">
    <div class="melange-overview-name">
      {{ melange.name }}
    </div>
    <div class="melange-overview-invite">{{ melange.inviteToken }}</div>
  </div>
  <mat-tab-group [backgroundColor]="'primary'" [color]="'accent'" mat-stretch-tabs>
    <mat-tab label="Produkty">
      <ng-template matTabContent>
        <app-melange-overview></app-melange-overview>
      </ng-template>
    </mat-tab>
    <mat-tab label="Rozliczenie">
      <ng-template matTabContent>
        <app-melange-summary></app-melange-summary>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <app-footer></app-footer>
</div>
