mat-spinner {
  margin: auto;
  margin-top: 15%;
}

.melange-overview {
  display: flex;
  justify-content: space-evenly;
  margin: 0 6rem;

  &-name {
      font-size: 1.6rem;
      letter-spacing: 0.35px;
      font-style: bold;
  }

  &-invite {
    font-size: 1.5rem;
    font-style: bold;
    letter-spacing: 0.2rem;
    // color: #3f51b5;
    color: #ff4081;
  }
}

.melange_product{
  margin-top: 1rem;

  &-name{

    font-size:1.5rem;
    display: block;
    animation: moveInLeft 1s ease-out;

  }

  // &-users-row {
  //   display:flex;
  //   justify-content: space-between;

  // }
  // &-spacer{
  //   flex: 1 1 auto;
  // }

  &-username{
    margin-right: 0.5rem;
  }
  &-paidBy {
    display:flex;
    justify-content: space-between;
    margin: 2rem 0;

    &-name {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.35px;
    }
  }

  &-price {
    font-size: 1.1rem;
    color: #3f51b5;
    font-style: bold;
  }
  //border-bottom: 1px solid #3f51b5;
}


@media(max-width:600px) {
    .melange-overview {
        margin: 0 2rem;
    }
}

.spacer {
  flex: 1 1 auto;
}


@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}
