<mat-spinner *ngIf="isLoading" class="pd-4" color="accent"></mat-spinner>
<div *ngIf="!isLoading" class="container">
    <div class="home-buttons-container">
      <div>
        <button mat-raised-button color="accent" routerLink="/create">
          Stwórz melanż
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          color="accent"
          class="ml-3"
          routerLink="/join"
        >
          Dołącz
        </button>
      </div>
    </div>
    <mat-card *ngIf="melanges.length>0" class="mt-4">
      <div *ngFor="let melange of melanges.slice().reverse(); let last = last">
        <div class="melanges-container">
          <div>
            <a
              class="btn"
              mat-button
              [routerLink]="['/melange', melange._id]"
              >{{ melange.name }}</a
            >
          </div>
          <div class="melange-date">
            {{ melange.createdAt | date: "fullDate" }}
          </div>
        </div>
        <hr *ngIf="!last" />
      </div>
    </mat-card>
  <app-footer></app-footer>
</div>