<!-- <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
   -->

   <div class="container">
    <mat-spinner *ngIf="isLoading" class="pd-4" color="accent"></mat-spinner>
    <div *ngIf="!isLoading">
      <div class="row mt-4">
        <div class="col text-left">
          <button
            mat-raised-button
            color="accent"
            routerLink="/create"
          >
            Stwórz melanż
          </button>
        </div>
        <div class="col"></div>
        <div class="col text-right">
          <button
          mat-raised-button
          color="accent"
          class="ml-3"
          routerLink="/melange/join"
        >
          Dołącz
        </button>
        </div>
      </div>
      <mat-card class="mt-4">
        <div *ngFor="let melange of melanges">
          <div class="row">
            <div class="col text-left">
              <a
                class="btn"
                mat-button
                [routerLink]="['/melange', melange._id]"
                >{{ melange.name }}</a
              >
            </div>
            <div class="col"></div>
            <div class="col text-right">
              {{ melange.createdAt | date: "fullDate" }}
            </div>
          </div>
          <hr />
        </div>
      </mat-card>
    </div>
  </div>
