<div class="container">
  <mat-spinner *ngIf="isLoading" class="pd-4" color="accent"></mat-spinner>
  <mat-card *ngIf="!isLoading">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div *ngIf="error" class="alert alert-danger" role="alert">
        You provided wrong email or password.
      </div>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email.</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          matInput
          placeholder="Password"
          required
          minlength="6"
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Password must have at least 6 characters.</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">
        Login
      </button>
    </form>
  </mat-card>
</div>
