<div class="container">
  <app-backbutton></app-backbutton>
  <mat-spinner *ngIf="isLoading" class="pd-4" color="accent"></mat-spinner>
  <mat-card *ngIf="!isLoading">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div *ngIf="error" class="alert alert-danger" role="alert">
        Podałeś zły e-mail, hasło lub Twoje konto jest nieaktywne.
      </div>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Wprowadź prawidłowy adres e-mail.</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input
          type="password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          matInput
          placeholder="Hasło"
          required
          minlength="6"
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Hasło musi składać się z co najmniej 6 znaków.</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">
        Login
      </button>
    </form>
  </mat-card>
</div>
